/* ---------- ACCORDION ---------- */
.accordion {
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--color-background-primary);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-lg);
  overflow: hidden;

  .item {
    border-bottom: 1px solid var(--color-background-primary);

    .link {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      padding: 1.5rem 2rem;
      cursor: pointer;

      .icon {
        --icon-size: 42px;

        stroke: var(--color-primary);
        stroke-width: 1px;
        width: var(--icon-size);
        height: var(--icon-size);

        font-size: 50px;
        font-variation-settings: 'wght' 100;
        color: var(--color-primary);
        transition: stroke var(--duration);
      }

      .title {
        margin-bottom: 0;
        color: var(--color-text-secondary);
        transition: color var(--duration);
      }

      .chevron {
        margin-left: auto;
        stroke: var(--color-primary);
        stroke-width: 1.5px;
        width: 32px;
        height: 32px;
        transition: transform var(--duration);
      }

      &:hover {
        background-color: var(--color-background-secondary);

        .title {
          color: var(--color-text-primary);
        }
      }
    }

    &.open {
      .link {
        background-color: var(--color-background-secondary);

        .title {
          color: var(--color-text-primary);
        }
        .chevron {
          transform: rotate(180deg);
          /* transform: scaleY(-1); */
        }
      }
    }

    .submenu {
      max-height: 0;
      background-color: var(--color-background-primary);
      transition: max-height var(--duration);
      overflow: hidden;

      .content {
        padding: 1rem 6rem;

        & > * {
          margin-bottom: 2px;
          color: var(--color-text-secondary);
          line-height: 1.8;
        }

        ul {
          margin-left: 18px;

          li {
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 767px) {
  .accordion {
    .item {
      .link {
        padding: 1rem;
        gap: 0.5rem;
      }
      .submenu {
        .content {
          padding: 1rem;
          ul li {
            font-size: 1em;
          }
        }
      }
    }
  }
}

/* ---------- SWIPER SLIDER ---------- */
.swiper-shell {
  --swiper-theme-color: var(--color-primary);
  --swiper-navigation-size: 50px;
  --position-navigation-btn: -40px;

  position: relative;

  .swiper {
    position: relative;

    .swiper-wrapper {
      align-items: stretch;
      margin-bottom: 2rem;

      .swiper-slide {
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;

        .slide {
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 2rem 1rem;
          margin: 20px;
          background-color: var(--color-background-primary);
          border-radius: var(--rounded-md);
          box-shadow: var(--shadow-md);
          transition:
            transform var(--duration),
            box-shadow var(--duration);

          .icon-container {
            border: 1px solid var(--color-primary);
            border-radius: 50%;
            width: 60px;
            height: 60px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            transition: border-color var(--duration);

            .icon {
              stroke: var(--color-primary);
              stroke-width: 1px;
              width: 100%;
              height: 100%;
              transition: stroke var(--duration);
            }
          }

          .subtitle {
            text-align: center;
            color: var(--color-text-primary);
            margin-bottom: 2rem;
          }

          p {
            text-align: center;
            line-height: 1.5;
            text-wrap: balance;
            margin-bottom: 1rem;
          }

          /* small {
            text-align: center;
            color: var(--color-text-secondary);
            margin-top: auto;
            margin-bottom: 1rem;
          } */

          &:hover {
            box-shadow: var(--shadow-lg);
            transform: translateY(-2px);
          }

          &:active {
            box-shadow: var(--shadow-md);
            transform: translateY(0);
            transition: none;
          }
        }
      }
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 0px;
      z-index: 10;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 200;
      color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
      --progress: 0;

      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 1px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  }

  [class^='swiper-button'] {
    position: absolute;
    top: 50%;
    padding: 14px;
    border-radius: 50%;
    background-color: var(--color-background-primary);
    box-shadow: var(--shadow-sm);
    transition:
      background-color var(--duration),
      color var(--duration),
      box-shadow var(--duration);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-background-primary);
      box-shadow: var(--shadow-md);
    }

    &.btn-gold {
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);

      svg {
        color: var(--color-primary);
      }

      &:hover {
        background-color: var(--color-background-primary);
      }
    }
  }

  .swiper-button-prev {
    left: var(--position-navigation-btn);
    svg {
      margin-left: -2px;
    }
  }

  .swiper-button-next {
    right: var(--position-navigation-btn);
    svg {
      margin-left: 2px;
    }
  }
}

/* Tablet */
@media (max-width: 1024px) {
}
/* Mobile */
@media (max-width: 767px) {
  .swiper-shell {
    --position-navigation-btn: -10px;

    [class^='swiper-button'] {
      padding: 14px;
      width: auto;
      background-color: initial;
      box-shadow: none;

      &:hover {
        color: var(--color-primary);
        background-color: initial;
        box-shadow: none;
      }
    }

    .swiper-button-prev {
      left: var(--position-navigation-btn);
    }

    .swiper-button-next {
      right: var(--position-navigation-btn);
    }
  }
}

/* ---------- CONTACT FORM ---------- */
#form {
  --width-input-field: 100%;

  text-align: center;

  .form-groups {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1.5rem;

    .form-group {
      position: relative;
      width: var(--width-input-field);

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--color-secondary);
        background-color: var(--color-background-primary);
        border-radius: var(--rounded-sm);
        color: var(--color-text-primary);
        transition: border-color var(--duration);
      }

      span {
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1rem;
        color: var(--color-text-secondary);
        transition:
          transform var(--duration),
          background-color var(--duration),
          color var(--duration);
      }

      /* placeholder */
      input:focus ~ span,
      input:not(:placeholder-shown) ~ span,
      textarea:focus ~ span,
      textarea:not(:placeholder-shown) ~ span {
        transform: translate(12px, -7px);
        font-size: 0.65em;
        padding: 2px 10px;
        background-color: var(--color-primary);
        color: var(--color-background-secondary);
        border-radius: 2px;
      }

      input:valid,
      input:focus,
      textarea:valid,
      textarea:focus {
        border: 1px solid var(--color-primary);
      }

      .empty-feedback {
        position: absolute;
        left: 10px;
        bottom: -20px;
        color: var(--color-error);
        z-index: 1;
      }

      .invalid-feedback,
      .empty-feedback {
        display: none;
      }

      .was-validated :placeholder-shown:invalid ~ .empty-feedback {
        display: block;
      }

      .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
        display: block;
      }

      .is-invalid,
      .was-validated :invalid {
        border-color: var(--color-error);
      }
    }
  }

  .form-status {
    color: var(--color-text-secondary);
    padding-bottom: 6px;
  }

  .form-status.success {
    color: var(--color-success);
  }

  .form-status.error {
    color: var(--color-error);
  }
}

.hidden {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}

#form.was-validated .form-group :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

#form.was-validated
  .form-group
  :not(:placeholder-shown):invalid
  ~ .invalid-feedback {
  display: block;
}

#form.was-validated .form-groups .form-group :invalid {
  border-color: var(--color-error);
}

#form.was-validated .form-groups .form-group :valid {
  border-color: var(--color-success);
}

/* ---------- TOOLTIP ---------- */
/* Only PC */
@media (hover: hover) and (pointer: fine) {
  .tooltip {
    --color-tooltip: 0, 0, 0;
    --transition: 0.2s cubic-bezier(0.5, -0.75, 0.7, 2);
  }

  .tooltip {
    position: relative;
  }

  /* Общие стили */
  .tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: calc(100%);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(var(--color-tooltip), 0.7);
    box-shadow: 0 0 20px rgba(var(--color-tooltip) 0.5);
    border-radius: 6px;
    display: inline-block;
    min-width: 80px;
    color: var(--color-white);
    text-align: center;
    text-wrap: balance;
    font-style: initial;
    font-weight: normal;
    font-size: small;
    transition: var(--transition);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }

  /* tooltip arrow */
  .tooltip::after {
    position: absolute;
    content: '';
    bottom: calc(100% - 16px);
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: rgba(var(--color-tooltip), 0.7) transparent transparent
      transparent;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
  }

  .tooltip:hover::before {
    padding: 10px;
  }

  /* Top */
  .tooltip:hover::before,
  .tooltip:hover::after {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    bottom: calc(100% + 0px);
  }

  .tooltip:hover::after {
    bottom: calc(100% - 16px);
  }

  /* Left */

  /* Bottom */
}

/* Gold style */
@property --gold-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 5deg;
}

.btn-gold {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem;
  text-transform: uppercase;
  border-radius: var(--rounded-full);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
  transition:
    box-shadow var(--duration),
    transform var(--duration),
    background-color var(--duration),
    color var(--duration);

  &::before {
    --line-size: 2px;
    content: '';
    position: absolute;
    inset: calc(var(--line-size) * -1);
    padding: var(--line-size);
    border-radius: var(--rounded-full);
    background: linear-gradient(
      var(--gold-angle),
      #81522e 47%,
      #e6c16a 53%,
      #ce9f56 57%,
      #4e341c 70%
    );
    mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    mask-composite: exclude;
    transition:
      --gold-angle var(--duration),
      transform var(--duration);
    z-index: -1;
    pointer-events: none;
  }

  /* Only PC */
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
      transform: translateY(-2px);

      &::before {
        --gold-angle: 170deg;
      }
    }
  }

  &:active {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    transform: translateY(0);
    transition: transform 0s;

    &::before {
      --gold-angle: 5deg;
    }
  }
}

/* .btn-primary.btn-gold {
} */

.btn-secondary.btn-gold {
  color: var(--color-text-primary);
  background-color: rgb(from var(--color-background-secondary) r g b/ 0.5);
  backdrop-filter: blur(5px);

  &:hover {
    background-color: rgb(from var(--color-background-secondary) r g b/ 0.7);
    color: var(--color-text-primary);
  }

  @media (max-width: 992px) {
    background-color: rgb(from var(--color-background-secondary) r g b/ 0.7);
  }
}

.gold-text {
  line-height: 3.6rem;
  background: linear-gradient(
    to bottom,
    #81522e 47%,
    #e6c16a 53%,
    #ce9f56 57%,
    #4e341c 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &::before {
    bottom: -1rem;
  }
}

/* .gold-icon {} */

/* Glass style */
.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  position: relative;
  overflow: hidden;

  border-radius: var(--rounded-md);
  padding: 2rem 1rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8),
      transparent,
      rgba(255, 255, 255, 0.3)
    );
  }
}

/* ---------- SCROLL TO TOP ---------- */
.scroll-to-top {
  --btn-size: 50px;
  --icon-size: 36px;

  position: fixed;
  right: 30px;
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--btn-size);
  height: var(--btn-size);
  padding: 0;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(40px);
  transition:
    transform var(--duration),
    opacity var(--duration),
    box-shadow var(--duration);
  outline: none;
  pointer-events: none;
  z-index: 20;

  .icon {
    stroke: var(--color-background-secondary);
    stroke-width: 1.5px;
    width: var(--icon-size);
    height: var(--icon-size);
  }

  &.btn-primary {
    .icon {
      stroke: var(--color-background-secondary);
    }
  }

  &.btn-secondary {
    .icon {
      stroke: var(--color-text-primary);
    }
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

    /* Only PC */
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 1;
        box-shadow: var(--shadow-md);
        transform: translateY(-2px);

        &.btn-gold {
          &:hover {
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }

    &:active {
      transform: translateY(0);
    }
  }
}

/* Mobile */
@media (max-width: 767px) {
  .scroll-to-top {
    right: 10px;
    bottom: 30px;
  }
}
