/* ---------- ACCORDION ---------- */
.accordion {
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--color-white);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-lg);
  overflow: hidden;

  .item {
    border-bottom: 1px solid var(--color-background);

    .link {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      padding: 1.5rem 2rem;
      cursor: pointer;

      .icon {
        font-size: 50px;
        font-variation-settings: 'wght' 100;
        color: var(--color-primary);
        transition: color var(--duration);
      }

      .title {
        margin-bottom: 0;
        color: var(--color-text-light);
        transition: color var(--duration);
      }

      .chevron {
        margin-left: auto;
        font-size: 40px;
        font-variation-settings: 'wght' 300;
        color: var(--color-primary);
        transition: transform var(--duration);
      }

      &:hover {
        background-color: var(--color-background);

        .icon {
          color: var(--color-text-light);
        }
        .title {
          color: var(--color-text-dark);
        }
        .chevron {
          color: var(--color-text-light);
        }
      }
    }

    &.open {
      .link {
        background-color: var(--color-background);

        .icon {
          color: var(--color-text-light);
        }
        .title {
          color: var(--color-text-dark);
        }
        .chevron {
          transform: rotate(180deg);
          /* transform: scaleY(-1); */
          color: var(--color-text-light);
        }
      }
    }

    .submenu {
      max-height: 0;
      background: #fff;
      transition: max-height var(--duration);
      overflow: hidden;

      .content {
        padding: 1rem 7.2rem;

        & > * {
          margin-bottom: 2px;
          color: var(--color-text-light);
          line-height: 1.8;
        }

        ul {
          margin-left: 18px;

          li {
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}

/* Tablet */
@media (max-width: 1024px) {
}

/* Mobile */
@media (max-width: 767px) {
  .accordion {
    .item {
      .link {
        padding: 1rem;
        gap: 0.5rem;
      }
      .submenu {
        .content {
          padding: 1rem;
          ul li {
            font-size: 1em;
          }
        }
      }
    }
  }
}

/* ---------- SWIPER SLIDER ---------- */
.swiper-shell {
  position: relative;

  [class^='swiper-button'] {
    position: absolute;
    top: 50%;
    padding: 14px;
    border-radius: 50%;
    background-color: var(--color-white);
    box-shadow: var(--shadow-sm);
    transition: all var(--duration);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
      box-shadow: var(--shadow-md);
    }
  }

  .swiper-button-prev {
    left: -24px;
    svg {
      margin-left: -2px;
    }
  }

  .swiper-button-next {
    right: -24px;
    svg {
      margin-left: 2px;
    }
  }
}

.swiper {
  --swiper-theme-color: var(--color-primary);
  --swiper-navigation-size: 50px;

  position: relative;
  /* max-width: 800px; */
  /* min-height: 300px; */

  .swiper-wrapper {
    align-items: stretch;

    .swiper-slide {
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 2rem;
      background-color: var(--color-white);
      border-radius: var(--rounded-md);
      box-shadow: var(--shadow-md);
      transition: box-shadow var(--duration);

      &:hover {
        box-shadow: var(--shadow-lg);
      }

      .icon {
        margin-bottom: 1rem;
        font-size: 70px;
        font-variation-settings: 'wght' 100;
        color: var(--color-primary);
      }

      .subtitle {
        text-align: center;
        margin-bottom: 2rem;
        color: var(--color-text-dark);
      }

      p {
        text-align: center;
        line-height: 1.5;
        margin-bottom: 2rem;
        text-wrap: balance;
      }

      /* small {
        text-align: center;
        color: var(--color-text-light);
        margin-bottom: 1rem;
        margin-top: auto;
      } */
    }
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;

    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 1px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
}

/* Tablet */
@media (max-width: 1024px) {
}
/* Mobile */
@media (max-width: 767px) {
  .swiper-shell {
    .swiper-button-prev {
      left: 4px;
    }
    .swiper-button-next {
      right: 4px;
    }
  }
}

/* ---------- CONTACT FORM ---------- */
#form {
  --width-input-field: 100%;

  .form-group {
    position: relative;
    width: var(--width-input-field);

    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid var(--color-secondary);
      background-color: var(--color-white);
      border-radius: var(--rounded-sm);
      color: var(--color-text-dark);
      transition: all var(--duration);
      margin-bottom: 30px;
    }

    span {
      position: absolute;
      left: 0;
      padding: 10px;
      pointer-events: none;
      font-size: 1rem;
      color: var(--color-text-light);
      transition: all var(--duration);
    }

    /* placeholder */
    input:focus ~ span,
    input:not(:placeholder-shown) ~ span,
    textarea:focus ~ span,
    textarea:not(:placeholder-shown) ~ span {
      transform: translate(12px, -7px);
      font-size: 0.65em;
      padding: 2px 10px;
      background-color: var(--color-primary);
      color: var(--color-white);
      border-radius: 2px;
    }

    input:valid,
    input:focus,
    textarea:valid,
    textarea:focus {
      border: 1px solid var(--color-primary);
    }

    .empty-feedback {
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: var(--color-error);
      z-index: 1;
    }

    .invalid-feedback,
    .empty-feedback {
      display: none;
    }

    .was-validated :placeholder-shown:invalid ~ .empty-feedback {
      display: block;
    }

    .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
      display: block;
    }

    .is-invalid,
    .was-validated :invalid {
      border-color: var(--color-error);
    }
  }
  .form-status {
    color: var(--color-text-light);
    padding-bottom: 10px;
    height: 30px;
  }

  .form-status.success {
    color: var(--color-success);
  }

  .form-status.error {
    color: var(--color-error);
  }
}

.hidden {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}

#form.was-validated .form-group :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

#form.was-validated
  .form-group
  :not(:placeholder-shown):invalid
  ~ .invalid-feedback {
  display: block;
}

#form.was-validated .form-group :invalid {
  border-color: var(--color-error);
}

#form.was-validated .form-group :valid {
  border-color: var(--color-success);
}

/* Tablet */
@media (max-width: 1024px) {
}

/* Mobile */
@media (max-width: 767px) {
}

/* ---------- SCROLL TO TOP ---------- */
.scroll-to-top {
  --btn-size: 50px;
  --icon-size: 50px;

  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--btn-size);
  height: var(--btn-size);
  background-color: var(--color-primary);
  border-radius: 50%;
  opacity: 0;
  transform: translateY(40px);
  transition: all var(--duration);
  outline: none;
  pointer-events: none;
  z-index: 99;

  .icon {
    color: var(--color-white);
    font-size: var(--icon-size);
  }

  &.visible {
    opacity: 0.5;
    transform: translateY(0);
    pointer-events: auto;

    &:hover {
      opacity: 1;
      box-shadow: var(--shadow-md);
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: initial;
      transform: translateY(0);
    }
  }
}

/* ---------- PULSED BUTTON EFFECT ---------- */
.btn-pulsed {
  --size-pulsed-circle: 250px;
  --animation-duration: 0.2s;

  position: relative;
  display: inline-block;
  padding: 16px 32px;
  border: 2px solid #4fcaff;
  border-radius: 50px;
  background: #292929;
  font: inherit;
  font-size: 1.25rem;
  text-decoration: none;
  line-height: 1;
  color: #eee;
  overflow: hidden;

  span {
    position: absolute;
    background: #eee;
    width: var(--size-pulsed-circle);
    height: var(--size-pulsed-circle);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: pulsed var(--animation-duration) linear infinite;
    pointer-events: none;
  }
}

@keyframes pulsed {
  from {
    width: 0;
    height: 0;
    opacity: 0.25;
  }
  to {
    width: var(--size-pulsed-circle);
    height: var(--size-pulsed-circle);
    opacity: 0;
  }
}
