/* ---------- MEDIA QUERIES ---------- */
/* Tablet */
@media (max-width: 992px) {
  body.menu-open {
    overflow: hidden;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.625em;
  }

  p {
    font-size: 1em;
  }

  /* ---------- HEADER ---------- */
  header.header {
    .nav {
      .nav-menu {
        position: fixed;
        top: 0;
        width: 100%;
        right: -100%;
        min-height: 100dvh;
        height: 100dvh;
        background-color: var(--color-background-secondary);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right var(--duration);
        gap: 2.5rem;
        pointer-events: none;

        &.open {
          right: 0;
          pointer-events: auto;
        }

        .nav-link {
          font-size: 1.5em;
        }
      }

      .nav-buttons {
        display: none;
      }

      .nav-buttons.mobile {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        bottom: 60px;
      }

      /* .nav-language {
        display: none;
      } */

      /* .nav-language.mobile {
        display: flex;
        position: absolute;
        bottom: 60px;
      } */

      .nav-toggle-btn {
        --btn-size: 32px;
        --line-height: 2px;
        --line-space: 6px;

        display: block;
        position: relative;
        width: var(--btn-size);
        height: var(--btn-size);
        background-color: initial;
        z-index: 100;
        cursor: pointer;

        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(3) {
          position: absolute;
          right: 0;
          height: var(--line-height);
          background-color: var(--color-text-primary);
          border-radius: 50px;
          transition: all var(--duration);

          &:nth-child(1) {
            top: var(--line-space);
            width: 100%;
          }

          &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
            width: 75%;
          }

          &:nth-child(3) {
            bottom: var(--line-space);
            width: 50%;
          }
        }

        &.open {
          span:nth-child(1) {
            right: -50%;
            top: 50%;
            transform: rotate(-45deg) translateX(-50%);
            transform-origin: left center;
          }

          span:nth-child(2) {
            width: 0;
            right: 50%;
            opacity: 0;
          }

          span:nth-child(3) {
            right: 50%;
            top: 50%;
            transform: rotate(45deg) translateX(50%);
            transform-origin: right center;
            width: 100%;
          }
        }
      }

      /* ---------- ANIMATION MOBILE MENU ITEMS ---------- */
      .nav-menu {
        --step: 50ms;
        --duration: 0.4s;

        li {
          text-align: center;
          min-width: 200px;
          transform: translateX(200%);
          opacity: 0;
          transition:
            transform var(--duration) ease-in,
            opacity var(--duration) ease-in;
        }

        /* mobile buttons */
        .nav-buttons.mobile {
          .theme-toggle-btn,
          .nav-language {
            transform: translateY(200px);
            opacity: 0;
            transition:
              transform var(--duration) ease-in,
              opacity var(--duration) ease-in;
          }
        }
      }

      .nav-menu.open {
        li {
          transform: translateX(0);
          opacity: 1;

          &:nth-child(1) {
            transition-delay: calc(var(--step) * 1);
          }

          &:nth-child(2) {
            transition-delay: calc(var(--step) * 2);
          }

          &:nth-child(3) {
            transition-delay: calc(var(--step) * 3);
          }

          &:nth-child(4) {
            transition-delay: calc(var(--step) * 4);
          }

          &:nth-child(5) {
            transition-delay: calc(var(--step) * 5);
          }
        }

        /* mobile buttons */
        .nav-buttons.mobile {
          .theme-toggle-btn,
          .nav-language {
            transform: translateY(0);
            opacity: 1;
          }

          .theme-toggle-btn {
            transition-delay: calc(var(--step) * 10);
          }

          .nav-language {
            transition-delay: calc(var(--step) * 11);
          }
        }
      }
    }
  }

  /* ---------- HERO SECTION ---------- */
  section.hero {
    .hero-container {
      .item {
        margin: 0 auto;
      }

      .content {
        margin-top: 250px;
        flex-direction: column;
        justify-content: center;

        .subtitle {
          text-align: center;
          letter-spacing: 0.9px;
        }
      }
    }
  }

  /* ---------- CONTACTS SECTION ---------- */
  section.contacts {
    .contacts-container {
      gap: 1rem;
      flex-direction: column;

      .item.content {
        img {
          display: none;
        }
      }

      .item.form {
        width: 100%;
      }
    }
  }

  footer.footer {
    .copyring {
      flex-direction: column;

      small {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 767px) {
  section {
    padding: 5rem 0;
  }

  /* ---------- HERO SECTION ---------- */
  section.hero {
    padding: 0;

    /* Background image */
    &::before {
      background-position: -162px 0px;
    }

    .container {
      min-height: 100vh;
      display: flex;
      justify-content: center;
    }

    .hero-container {
      flex-direction: column;
      gap: 1rem;

      .item {
        flex: 1;
      }

      /* .content {
        margin-top: 200px;
        flex-direction: column;
        justify-content: center;

        .title {
          font-style: italic;
        }

        .subtitle {
          text-align: center;
          margin-bottom: 1rem;
        }
      } */
    }
  }

  /* ---------- ABOUT SECTION ---------- */
  section.about {
    .about-container {
      flex-direction: column;

      .item {
        flex: 1;
      }

      .item.content {
        order: 2;
      }

      .item-image {
        order: 1;
      }
    }
  }

  section.contacts {
    .contacts-container {
      .item.form {
        #form {
          padding: 2rem 1rem;
        }
      }
    }
  }
}

/* Only PC */
@media (hover: hover) and (pointer: fine) {
  header.header {
    .nav {
      .nav-menu {
        .nav-link {
          &::before {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 0%;
            height: 1px;
            background-color: var(--color-primary);
            transform: translateX(-50%);
            transition: width var(--duration);
          }

          &.active {
            &::before {
              width: 60%;
            }
          }

          &:hover {
            &::before {
              width: 60%;
            }
          }
        }
      }
    }
  }
}

/* For people with vestibular problems */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
