/* ---------- MEDIA QUERIES ---------- */
/* Tablet */
@media (max-width: 992px) {
  body.menu-open {
    overflow: hidden;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.625em;
  }

  p {
    font-size: 1em;
  }

  section {
    padding: 4rem 0;
  }

  .btn-primary,
  .btn-secondary {
    &:hover {
      transform: translateY(0);
      box-shadow: none;
    }
    &:active {
      transform: translateY(0);
      box-shadow: none;
      transition: none;
    }
  }

  /* ---------- HEADER ---------- */
  header.header {
    .nav {
      .nav-menu {
        position: fixed;
        top: 0;
        width: 100%;
        right: -100%;
        min-height: 100dvh;
        height: 100dvh;
        background-color: var(--color-white);
        /* background-color: rgb(from #f08 r g b / 0.5); */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right var(--duration);
        z-index: 99;

        &.open {
          right: 0;
        }

        .nav-link {
          font-size: 1.5em;
        }
      }

      .nav-language {
        display: none;
      }

      .nav-language.mobile {
        display: flex;
        position: absolute;
        bottom: 40px;
      }

      .nav-toggle-btn {
        --btn-size: 32px;
        --line-height: 2px;
        --line-space: 6px;

        display: block;
        position: relative;
        width: var(--btn-size);
        height: var(--btn-size);
        z-index: 100;
        cursor: pointer;

        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(3) {
          position: absolute;
          right: 0;
          height: var(--line-height);
          background-color: var(--color-text-dark);
          border-radius: 50px;
          transition: all var(--duration);

          &:nth-child(1) {
            top: var(--line-space);
            width: 100%;
          }

          &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
            width: 75%;
          }

          &:nth-child(3) {
            bottom: var(--line-space);
            width: 50%;
          }
        }

        /* &:hover {
        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(3) {
          width: 100%;
        }
      } */

        &.open {
          span:nth-child(1) {
            right: -50%;
            top: 50%;
            transform: rotate(-45deg) translateX(-50%);
            transform-origin: left center;
          }

          span:nth-child(2) {
            width: 0;
            right: 50%;
            opacity: 0;
          }

          span:nth-child(3) {
            right: 50%;
            top: 50%;
            transform: rotate(45deg) translateX(50%);
            transform-origin: right center;
            width: 100%;
          }
        }
      }
    }
  }

  /* ---------- CONTACTS SECTION ---------- */
  section.contacts {
    .contacts-container {
      gap: 1rem;
      flex-direction: column;

      .item.content {
        img {
          display: none;
        }
      }

      .item.form {
        width: 100%;
      }
    }
  }
}

/* Mobile */
@media (max-width: 767px) {
  /* ---------- HERO SECTION ---------- */
  section.hero {
    /* padding: calc(1rem + var(--header-height)) 0; */

    .hero-container {
      flex-direction: column;
      gap: 1rem;

      .item {
        flex: 1;
      }

      .content {
        flex-direction: column;
        justify-content: center;

        .title {
          font-style: italic;
        }

        .subtitle {
          text-align: center;
          margin-bottom: 1rem;
        }

        a {
          margin-top: 1rem;
        }
      }

      /* .image {
      } */
    }
  }

  /* ---------- ABOUT SECTION ---------- */
  section.about {
    padding-bottom: 2rem;

    .about-container {
      flex-direction: column;
      gap: 1rem;

      .item {
        flex: 1;
      }

      .item.content {
        order: 2;
      }

      .item-image {
        order: 1;
      }
    }
  }
}
