@import './fonts.css';
@import './variables.css';
@import './components.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

h1 {
  font-size: 3.5em;
  font-weight: 400;
}

/* Title */
h2 {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.2;
}

/* Subtitle */
h3 {
  font-size: 1.25em;
  font-weight: 300;
}

p {
  color: var(--color-text-light);
  line-height: 1.8;
  margin-bottom: 1rem;
}

.title {
  text-align: center;
  font-style: italic;
  letter-spacing: 1px;
  color: var(--color-text-dark);
  margin-bottom: 1.5rem;
}

.subtitle {
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

button {
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

.btn {
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  outline: none;
  font: inherit;
}

section {
  padding: 7rem 0;
  scroll-margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;

  &:nth-child(even) {
    background-color: var(--color-white);
  }

  &:nth-child(odd) {
    background-color: var(--color-background);
  }
}

.btn-primary,
.btn-secondary {
  padding: 0.8rem 1.6rem;
  border-radius: var(--rounded-sm);
  text-transform: uppercase;
  transition: all var(--duration);

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-sm);
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
    transition: none;
  }
}

.btn-primary {
  background-color: var(--color-primary);
  border: 1px solid transparent;
  color: var(--color-white);
}

.btn-secondary {
  border: 1px solid var(--color-primary);
}

.divider {
  height: 1px;
  background-color: var(--color-secondary);
  margin: 0 auto 2rem;
}

.divider-sm {
  width: 25%;
}

.divider-lg {
  width: 50%;
}

@media (max-width: 767px) {
  .divider-sm {
    width: 50%;
  }
}

/* ---------- HEADER ---------- */
header.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem 0;
  background-color: var(--color-white);
  box-shadow: var(--shadow-sm);
  z-index: 100;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .logo {
      a {
        font-family: var(--font-title);
        font-style: italic;
        font-size: 1.25em;
      }
    }

    .nav-menu {
      display: flex;
      justify-content: center;
      gap: 3rem;
      list-style: none;

      .nav-link {
        text-decoration: none;
        color: var(--color-text-light);
        transition: color var(--duration);

        &:hover {
          color: var(--color-primary);
        }

        &.active {
          color: var(--color-primary);
        }
      }
    }

    .nav-language {
      .language-switcher {
        .lang-btn {
          padding: 0 8px;
          border-right: 1px solid var(--color-secondary);
          color: var(--color-text-light);
          transition: color var(--duration);

          &:last-child {
            border-right: none;
          }

          &:hover {
            color: var(--color-primary);
          }

          &.active {
            color: var(--color-primary);
          }
        }
      }
    }

    .nav-language.mobile,
    .nav-toggle-btn {
      display: none;
    }
  }
}

/* ---------- HERO SECTION ---------- */
section.hero {
  /* padding-bottom: 0; */
  /* padding-top: calc(1rem + var(--header-height)); */
  margin-top: var(--header-height);

  .hero-container {
    display: flex;
    align-items: center;
    gap: 3rem;

    .item {
      flex: 1;
    }

    .item.content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2rem 0;

      .title {
        font-style: italic;
        margin-bottom: 0.5rem;
      }

      .subtitle {
        text-align: center;
        margin-bottom: 1.5rem;
      }

      p {
        text-align: center;
        text-wrap: balance;
      }

      a {
        text-align: center;
        margin: 1rem auto 0;
      }
    }

    .item.image {
      display: flex;
      align-items: end;

      img {
        border-bottom: 1px solid var(--color-secondary);
      }
    }
  }
}

/* ---------- ABOUT SECTION ---------- */
section.about {
  /* padding-bottom: 0; */

  .about-container {
    display: flex;
    align-items: center;
    gap: 3rem;

    .item {
      flex: 1;
    }

    .item.content {
    }

    .item.image {
      img {
        border-bottom: 1px solid var(--color-secondary);
      }
    }
  }
}

/* ---------- EDUCATION SECTION ---------- */
/* section.education {
} */

/* ---------- SERVICES SECTION ---------- */
/* section.services {
} */

/* ---------- CONTACTS SECTION ---------- */
section.contacts {
  .contacts-container {
    display: flex;
    align-items: center;
    gap: 3rem;

    .item {
      flex: 1;
    }

    .item.content {
      /* display: flex;
      flex-direction: column; */
      /* align-items: end; */

      img {
        border-bottom: 1px solid var(--color-secondary);
      }
    }

    .item.form {
      #form {
        padding: 2.5rem 2rem;
        box-shadow: var(--shadow-md);
        border-radius: var(--rounded-md);
      }
    }
  }
}

/* ---------- FOOTER ---------- */
footer.footer {
  position: relative;
  background-color: #2c2c2c;
  color: var(--color-white);
  z-index: 100;

  .footer-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem 0;
  }
}

/*! ---------- DELETE ---------- !*/
.colors {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 2rem;
    min-height: 200px;
    border: 1px solid var(--color-primary);
    border-radius: var(--rounded-sm);
  }
}
