@import './fonts.css';
@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

h1 {
  font-size: 3.5em;
  font-weight: 400;
}

/* Title */
h2 {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.2;
}

/* Subtitle */
h3 {
  font-size: 1.25em;
  font-weight: 300;
}

p {
  font-size: 1.125em;
  color: var(--color-text-light);
  line-height: 1.8;
  margin-bottom: 1rem;
}

.title {
  text-align: center;
  color: var(--color-text-dark);
  margin-bottom: 2rem;
}

.subtitle {
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
}

section {
  min-height: 100dvh;
  padding: 8rem 0;

  &:nth-child(even) {
    background-color: var(--color-white);
  }

  &:nth-child(odd) {
    background-color: var(--color-background);
  }
}

button {
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

.btn-primary,
.btn-secondary {
  padding: 0.8rem 1.6rem;
  border-radius: var(--rounded-sm);
  text-transform: uppercase;
  transition: all var(--duration);

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-sm);
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
    transition: none;
  }
}

.btn-primary {
  background-color: var(--color-primary);
  border: 1px solid transparent;
  color: var(--color-white);
}

.btn-secondary {
  border: 1px solid var(--color-primary);
}

/* ---------- HEADER ---------- */
header.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem 0;
  background-color: var(--color-white);
  box-shadow: var(--shadow-sm);
  z-index: 100;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .logo {
      a {
        font-family: var(--font-title);
        font-size: 1.25em;
      }
    }

    .nav-menu {
      display: flex;
      justify-content: center;
      gap: 3rem;
      list-style: none;

      .nav-link {
        text-decoration: none;
        color: var(--color-primary);
        transition: color var(--duration);

        &:hover {
          color: var(--color-text-dark);
        }

        &.active {
          color: var(--color-text-dark);
        }
      }
    }

    .nav-language {
      .language-switcher {
        .lang-btn {
          padding: 0 8px;
          border-right: 1px solid var(--color-secondary);
          color: var(--color-primary);
          transition: color var(--duration);

          &:last-child {
            border-right: none;
          }

          &:hover {
            color: var(--color-text-dark);
          }

          &.active {
            color: var(--color-text-dark);
          }
        }
      }
    }

    .nav-language.mobile {
      display: none;
    }

    .nav-toggle-btn {
      --btn-size: 32px;
      --line-height: 2px;
      --line-space: 6px;

      display: none;
      position: relative;
      width: var(--btn-size);
      height: var(--btn-size);
      cursor: pointer;

      span:nth-child(1),
      span:nth-child(2),
      span:nth-child(3) {
        position: absolute;
        right: 0;
        height: var(--line-height);
        background-color: var(--color-text-dark);
        border-radius: 50px;
        transition: all var(--duration);

        &:nth-child(1) {
          top: var(--line-space);
          width: 100%;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
          width: 75%;
        }

        &:nth-child(3) {
          bottom: var(--line-space);
          width: 50%;
        }
      }

      /* &:hover {
        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(3) {
          width: 100%;
        }
      } */

      &.active {
        span:nth-child(1) {
          right: -50%;
          top: 50%;
          transform: rotate(-45deg) translateX(-50%);
          transform-origin: left center;
        }
        span:nth-child(2) {
          width: 0;
          right: 50%;
          opacity: 0;
        }
        span:nth-child(3) {
          right: 50%;
          top: 50%;
          transform: rotate(45deg) translateX(50%);
          transform-origin: right center;
          width: 100%;
        }
      }
    }
  }
}

/* ---------- ACCORDION ---------- */
.accordion {
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--color-white);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-lg);
  overflow: hidden;

  .item {
    border-bottom: 1px solid var(--color-background);

    .link {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      padding: 1.5rem 2rem;
      cursor: pointer;

      .icon {
        --size-icon: 40px;

        width: var(--size-icon);
        height: var(--size-icon);
        color: var(--color-primary);
        transition: color var(--duration);
      }

      .title {
        margin-bottom: 0;
        color: var(--color-text-light);
        transition: color var(--duration);
      }

      .chevron {
        margin-left: auto;
        color: var(--color-primary);
        transition: transform var(--duration);
      }

      &:hover {
        background-color: var(--color-background);

        .icon {
          color: var(--color-text-light);
        }
        .title {
          color: var(--color-text-dark);
        }
        .chevron {
          color: var(--color-text-light);
        }
      }
    }

    &.open {
      .link {
        background-color: var(--color-background);

        .icon {
          color: var(--color-text-light);
        }
        .title {
          color: var(--color-text-dark);
        }
        .chevron {
          transform: rotate(180deg);
          color: var(--color-text-light);
        }
      }
    }

    .submenu {
      max-height: 0;
      background: #fff;
      transition: max-height var(--duration);
      overflow: hidden;

      .content {
        padding: 1rem 2rem;

        & > * {
          margin-bottom: 0;
          color: var(--color-text-light);
          font-size: 1em;
          line-height: 1.8;
        }

        ul {
          margin-left: 1rem;
        }
      }
    }
  }

  /* ---------- FOOTER ---------- */
  footer.footer {
  }

  .scroll-to-top {
    --btn-size: 50px;
    --icon-size: 20px;

    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--btn-size);
    height: var(--btn-size);
    background-color: var(--color-primary);
    border-radius: 50%;
    opacity: 0;
    transform: translateY(40px);
    transition: all var(--duration);
    pointer-events: none;
    z-index: 100;

    svg {
      width: var(--icon-size);
      height: var(--icon-size);
      color: var(--color-white);
    }

    &.visible {
      opacity: 0.5;
      transform: translateY(0);
      pointer-events: auto;

      &:hover {
        opacity: 1;
        box-shadow: var(--shadow-md);
        transform: translateY(-2px);
      }

      &:active {
        box-shadow: initial;
        transform: translateY(0);
      }
    }
  }

  /* ---------- MEDIA QUERIES ---------- */
  /* Tablet */
  @media (max-width: 1024px) {
  }

  /* Mobile */
  @media (max-width: 767px) {
    .header {
      .nav {
        .nav-menu {
          position: fixed;
          top: 0;
          width: 100%;
          right: -100%;
          min-height: 100dvh;
          background-color: var(--color-white);
          /* background-color: #f06; */
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: right var(--duration);
          z-index: 99;

          &.open {
            right: 0;
          }

          .nav-link {
            font-size: 1.5em;
          }
        }

        .nav-language {
          display: none;
        }

        .nav-language.mobile {
          display: flex;
          position: absolute;
          bottom: 40px;
        }

        .nav-toggle-btn {
          display: block;
          z-index: 100;
        }
      }
    }
  }
}

/*! ---------- DELETE ---------- !*/
.colors {
  display: flex;
  gap: 2rem;

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 2rem;
    min-height: 200px;
    border: 1px solid var(--color-primary);
    border-radius: var(--rounded-sm);
  }
}
