@import './fonts.css';
@import './variables.css';
@import './components.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

h1 {
  font-size: 3.5em;
  font-weight: 400;
}

/* Title */
h2 {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.2;
}

/* Subtitle */
h3 {
  font-size: 1.25em;
  font-weight: 300;
}

p {
  color: var(--color-text-light);
  line-height: 1.8;
  margin-bottom: 1rem;
}

.title {
  text-align: center;
  color: var(--color-text-dark);
  margin-bottom: 1.5rem;
}

.subtitle {
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  outline: none;
  font: inherit;
}

section {
  padding: 8rem 0;
  scroll-margin-top: var(--header-height);

  &:nth-child(even) {
    background-color: var(--color-white);
  }

  &:nth-child(odd) {
    background-color: var(--color-background);
  }
}

.btn-primary,
.btn-secondary {
  padding: 0.8rem 1.6rem;
  border-radius: var(--rounded-sm);
  text-transform: uppercase;
  transition: all var(--duration);

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-sm);
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
    transition: none;
  }
}

.btn-primary {
  background-color: var(--color-primary);
  border: 1px solid transparent;
  color: var(--color-white);
}

.btn-secondary {
  border: 1px solid var(--color-primary);
}

.divider {
  width: 50%;
  height: 1px;
  background-color: var(--color-secondary);
  margin: 0 auto;
}

/* Google icons */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24;
}

/* ---------- HEADER ---------- */
header.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem 0;
  background-color: var(--color-white);
  box-shadow: var(--shadow-sm);
  z-index: 100;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .logo {
      a {
        font-family: var(--font-title);
        font-size: 1.25em;
      }
    }

    .nav-menu {
      display: flex;
      justify-content: center;
      gap: 3rem;
      list-style: none;

      .nav-link {
        text-decoration: none;
        color: var(--color-primary);
        transition: color var(--duration);

        &:hover {
          color: var(--color-text-dark);
        }

        &.active {
          color: var(--color-text-dark);
        }
      }
    }

    .nav-language {
      .language-switcher {
        .lang-btn {
          padding: 0 8px;
          border-right: 1px solid var(--color-secondary);
          color: var(--color-primary);
          transition: color var(--duration);

          &:last-child {
            border-right: none;
          }

          &:hover {
            color: var(--color-text-dark);
          }

          &.active {
            color: var(--color-text-dark);
          }
        }
      }
    }

    .nav-language.mobile,
    .nav-toggle-btn {
      display: none;
    }
  }
}

/* ---------- HERO SECTION ---------- */
.hero {
  padding-bottom: 0;
  padding-top: calc(8rem + var(--header-height));
  /* min-height: 100vh; */

  .hero-container {
    /* margin-top: 75px; */
    display: flex;
    gap: 3rem;

    .item {
      flex: 1;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 2;

      .title {
        font-style: italic;
        margin-bottom: 0.5rem;
      }

      .subtitle {
        text-align: center;
        margin-bottom: 1.5rem;
      }

      p {
        margin-top: 1rem;
      }

      .buttons {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
      }
    }

    .image {
      order: 1;
    }
  }
}

/* ---------- ABOUT SECTION ---------- */
.about {
}

/* ---------- EDUCATION SECTION ---------- */
.education {
}

/* ---------- SERVICES SECTION ---------- */
.services {
}

/* ---------- CONTACTS SECTION ---------- */
.contacts {
  .contacts-container {
    display: flex;
    gap: 3rem;

    .item {
      flex: 1;
    }

    .item.form {
      padding: 2.5rem 2rem;
      box-shadow: var(--shadow-md);
      border-radius: var(--rounded-md);
    }
  }
}

/* ---------- FOOTER ---------- */
/* footer.footer {
  } */

/* ---------- MEDIA QUERIES ---------- */
/* Tablet */
@media (max-width: 1024px) {
}

/* Mobile */
@media (max-width: 767px) {
  body.menu-open {
    overflow: hidden;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  section {
    padding: 4rem 0;
  }

  .btn-primary,
  .btn-secondary {
    &:hover {
      transform: translateY(0);
      box-shadow: none;
    }
    &:active {
      transform: translateY(0);
      box-shadow: none;
      transition: none;
    }
  }

  /* ---------- HEADER ---------- */
  header.header {
    .nav {
      .nav-menu {
        position: fixed;
        top: 0;
        width: 100%;
        right: -100%;
        min-height: 100dvh;
        height: 100dvh;
        background-color: var(--color-white);
        /* background-color: rgb(from #f08 r g b / 0.5); */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right var(--duration);
        z-index: 99;

        &.open {
          right: 0;
        }

        .nav-link {
          font-size: 1.5em;
        }
      }

      .nav-language {
        display: none;
      }

      .nav-language.mobile {
        display: flex;
        position: absolute;
        bottom: 40px;
      }

      .nav-toggle-btn {
        --btn-size: 32px;
        --line-height: 2px;
        --line-space: 6px;

        display: block;
        position: relative;
        width: var(--btn-size);
        height: var(--btn-size);
        z-index: 100;
        cursor: pointer;

        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(3) {
          position: absolute;
          right: 0;
          height: var(--line-height);
          background-color: var(--color-text-dark);
          border-radius: 50px;
          transition: all var(--duration);

          &:nth-child(1) {
            top: var(--line-space);
            width: 100%;
          }

          &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
            width: 75%;
          }

          &:nth-child(3) {
            bottom: var(--line-space);
            width: 50%;
          }
        }

        /* &:hover {
        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(3) {
          width: 100%;
        }
      } */

        &.open {
          span:nth-child(1) {
            right: -50%;
            top: 50%;
            transform: rotate(-45deg) translateX(-50%);
            transform-origin: left center;
          }

          span:nth-child(2) {
            width: 0;
            right: 50%;
            opacity: 0;
          }

          span:nth-child(3) {
            right: 50%;
            top: 50%;
            transform: rotate(45deg) translateX(50%);
            transform-origin: right center;
            width: 100%;
          }
        }
      }
    }
  }

  /* ---------- HERO SECTION ---------- */
  .hero {
    padding: calc(2rem + var(--header-height)) 0;

    .hero-container {
      /* margin-top: 80px; */
      flex-direction: column;
      gap: 1rem;

      .item {
        flex: 1;
      }

      .content {
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        order: 2;

        .title {
          font-style: italic;
        }

        .subtitle {
          text-align: center;
          margin-bottom: 1rem;
        }

        .buttons {
          margin-top: 1rem;
          display: flex;
          gap: 1.5rem;
        }
      }

      .image {
        order: 1;
      }
    }
  }
}

/*! ---------- DELETE ---------- !*/
.colors {
  display: flex;
  gap: 2rem;

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 2rem;
    min-height: 200px;
    border: 1px solid var(--color-primary);
    border-radius: var(--rounded-sm);
  }
}
